*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat","sans-serif";
}
.Maincontainer{
  width: 1440px;
  margin: auto;
}
html{
  font-size: 62.5% ; 
}
.container{
  margin-left: 142px;
  margin-right:142px;
  margin-top: 50px;
  /* margin: auto; */
}

/* Navbar css */
.navbar_container{
  box-shadow: 0px 2px 4px #0000001A;
}
.nav-container {
  width: auto;
  height: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
}
.logo-img {
  width: 15%;
}
.nav-ul {
  display: flex;
  margin-top: 15px;
}
.nav-li {
  padding: 1px;
  font-size: 14px;
  align-items: center;
  color: #222222;
  font-weight: 500;
  list-style: none;
}
.nav-img {
  padding: 1px;
}
.sub-nav {
  display: flex;
  justify-content: space-between;
}
.sub-ul-nav {
  display: flex;
}
.sub-nav-li{
  padding: 2rem 2rem;
  font-size: 1.4rem;
  color: #222222;
  font-weight: 500;
  margin-left: -10px;
  list-style: none;
}
.sub-nav-li-hide-home{
  display: none;
}
.sub-nav-li-hide{
  display: none;
}
.hide-menu{
  display: none;
}
.nav-drop-img{
  padding: 1px 5px;
}
.extra-menu{
  display: none;
}
.hamburger-menu{
  display: none;
}

/* Add css */

.advertis{
  /* border: 1px solid green; */
  width: 1156px;
  height:130px;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
}
.advertis_text{
  text-align: center;
}
.advertis_img{
  text-align: center;
  margin-top:10px;
}

/* Manufacturing section css */

.manufacturing_main{
  /* border: 1px solid red; */
  width: 1156px;
  display: flex;
}
.secondadvertisment{
  display: none;
}
.manufacturing_left{
  /* border: 1px solid red; */
  width: 568px;
  
}
.menu_title{
font-size: 1.4rem;
font-weight: bold;
color: #096FFA;
margin-top:0.8rem;
}
.manu_left_para{
  color: #222222;
  font-size: 1.6rem;
  font-weight: normal;
  margin-top:1.4rem;
}
.manu_author_para{
font-size: 1.2rem;
font-weight: normal;
margin-top:1.6rem;
}
.manu_subcontent{
  text-align:left;
  font-size: 3.2rem;
  font-weight: bold;
  margin-top:2.8rem;

}
.manufacturing_left_bottom{
  display: flex;
}
.manufacturing_button{
  background: #096FFA;
  border-radius: 1rem;
  width: 160px;
  height: 3.4rem;
  color: #ffffff;
  margin-top:2.4rem;
}

.manufacturing_right{
  /* border:1px solid yellow; */
  width: 568px;
  margin-left: 2rem;
}

/* Economy section */
.economy_main{
  width: 1156px;
  display: flex;
}
.economy_card{
  width: 274px;
  margin: auto;
}

/* Editiors section*/

.editor_main{
  /* display: flex; */
  box-shadow: 0 2px 4px #0000001A;
  /* border: 1px solid pink; */
  /* height:399px; */
  width: 115.6rem;
  justify-content: space-around;
}
.editor_head{
  font-size: 2.8rem;
  color: #000000;
  font-weight: 600;

}
.editor_left{
  width: 372px;
}
.editor-para{
  font-size: 1.8rem;
  color: #222222;
  font-family: "Montserrat","sans-serif";
  font-weight: medium;
  margin-top: 1.0rem;
}
.heading_title{
  color: #096ffa;
  font-family:"Montserrat","sans-serif";
  font-size: 1.2rem;
  font-weight: bold;

}
.author_para{
  color: #798692;
  font-size: 1.2rem;
  margin-top: 1.6rem;
}

.card_content{
  display:flex;
  width: 417px;
  /* margin-top: 25px; */
  border-bottom: 1px solid #E3E3E3;
}
.card_content1{
  display:flex;
}
.card_content_text{
  margin-left: 15px;
}
.card_content-response_img{
  position: relative;
}

.premium_logo{
  position: absolute;
    bottom: 19px;
    right: 0;
    font-size: 18px;
    color: #ffffff;
    background-color: #FE8C0F;
    padding: 5px 4px;
}
/* .editorimg{
  position: relative;
} */
.card-text{
  font-size: 16px;
  color: #222222;
  font-family: "Montserrat","sans-serif";
  font-weight: normal;
}
.card-text2{
  font-size: 14px;
  color: #222222;
  font-family: "Montserrat","sans-serif";
  font-weight: normal;
  margin-top: 1.0rem;
}
/* follow */
.follow_main{
  display: flex;
  /* border: 1px solid yellow; */
  justify-content: space-around;
  box-shadow: 0 0.2rem 0.4rem #0000001a;
}
.follow{
  width: 36.9rem;
  /* border: 1px solid purple; */
  position: relative;

}
.follow_content{
  position: absolute;
  top: 32.0rem;
}
.follow_para{
  font-size: 1.2rem;
  color: #484848;
}

/* Side advertisment */
.sideadvertisment{
  width:30rem;
  height:27.5rem;
  /* border: 1px solid black; */
  background: #F0F0F0;

}
/* .sideadd_img{
  width: 3rem;
  height: 2.5rem;
} */

/* Signup section
 */

.signup_main{
  display: flex;
  background-color: #000000;
  height: 13rem;
  border-radius: 1.4rem;
  justify-content: space-around;
  
}
.signup_context{
  color: #FFFFFFD8;
  margin-left: 2.0rem;
}
.envelop{
  display: flex;
  margin: auto;
}
.signpara{
  font-size: 2.0rem;
  font-weight: normal;
  color: #FFFFFFD8;
}
.signpara1{
  font-size: 1.8rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 1rem;
}
.signup_context_input{
  margin: auto;
  display: flex;
}
.input_email{
  border-radius: 0.8rem;
  width: 35rem;
  height: 5rem;
  background: #FFFFFF34;
  border: 1px solid #FFFFFF41;
}
.Signup_btn{
  margin-left: 1.5rem;
}
.signup_btn1{
  width: 15rem;
  height: 5.0rem;
  border-radius: 3.0rem;
  background: #096FFA;
  color: #ffffff;
  font-size: 14px;
  margin-left: 1.5rem;
}

/* Stories section*/
.stroies_submain{
  display: flex;
  /* border: 1px solid green; */
  
}
.stories{
display: flex;
border: 1px solid pink;
}
.storiesflex{
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.storiesflex1{
  display: flex;
  justify-content: space-around;
  margin-top: 5.0rem;
}

.card_content{
  display:flex;
  margin-top: 2.5rem;
  border-bottom: 0.1rem solid #E3E3E3;
}
.card_content1{
  display:flex;
}
.morestories_title{
  font-size: 1.4rem;
  font-weight: normal;
  color: #096FFA;
}
.morestories_title_para{
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: medium;
  color: #000000;
}
.morestories_author_para{
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: medium;
  color: #798692;
}
.stories_cardimage{
  width: 22rem;
  margin-top: 2rem;
}
.stories_card_text{
  width: 33rem;
  margin-left: 1rem;
  margin-top: 2rem;
}

/* Event card section */
.event_sub{
  margin: 3.0rem 0.0rem;
  display: flex;
  padding:3.0rem 3.0rem;
  border: 0.2rem solid #0000001A;
  border-radius: 1.2rem;
  background: #FFFFFF;
  
  }
  .editor_submain{
    display:flex;
  }
  .editor_content2{
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .editor_premium{
    position: relative;
  }
  .event_content{
    width: 20.0rem;
    /* margin-right: 0.4rem; */
    padding-left: 1rem;
  }
  
  .event_para{
    font-family: "Montserrat","sans-serif";
    font-size: 1.8rem;
    font-weight: 600;
    color: #000000;
    padding-top: 1rem;

  }
  .event_author{
  
    font-family: "Montserrat","sans-serif";
    font-size: 1.2rem;
    font-weight: medium;
    color: #333333;
    padding-top: 1rem;
  }
  

/* col content */
.col_content_heading{
  display: flex;
  justify-content: space-between;
  }
  .col_heading{
    font-family:"Montserrat","sans-serif";
    font-size: 2.2rem;
    font-weight: bold;
  }
  .col_cardimage{
    display: flex;
    margin-top: 3rem;
  }
  .col_para{
   
    font-size: 1.4rem;
    font-weight: medium;
  }
  .col_text{
    
    font-size: 1.4rem;
    font-weight: medium;
    color: #222222;
    margin-top: 1rem;
  }
  .col_author{
    font-size: 1.2rem;
    font-weight: Normal;
    color: #798692;
    margin-top: 1.4rem;
  }
  .col_content_img{
    width: 225px;
    /* height: 223px; */
    border: 0.3rem solid #0000001A;
    border-radius: 1.2rem;
  }
  .col2_content_img{
    margin-left: 0px;
    width: 21.2rem;
    /* height: 223px; */
    /* background: grey; */
    /* border: 0.1rem solid #0000001A; */
    border-radius: 1.2rem;
    background: #FAFAFA;
    border: 0.1rem solid #EDEDED;
}
  
  /* Vcccircle Premium */
.vccircle_main{
  background: #000000;
  }
  .vcccircle_sub{
    display: flex;
    width: 262px;
    border-radius: 14px;
    background: #FFFFFF;
    border: 1px solid #ffffff;
    margin: 15px 50px;
  
  }
  .vcccircle_img{
    /* margin: 15px 15px; */
    width: 25.6rem;
  }
  .cardimage_vccircle{
    display: flex;
    margin: 1.5rem 0px;
  
    width: 100%;
  }
  .vcccircle_title{
    font-family: "Montserrat","sans-serif";
    font-size: 1.2rem;
    font-weight: normal;
  color: #096FFA;
  }
  .vcccircle_para{
    font-family: "Montserrat","sans-serif";
    font-size: 1.6rem;
    font-weight:500;
    color: #222222;
  }
  .vcccircle_author{
    font-family: "Montserrat","sans-serif";
    font-size: 1.2rem;
    font-weight: medium;
    color: #798692;
  }
  .vcccircle_btn{
    border-radius: 1.7rem;
    background: #096FFA;
    width: 11.2rem;
    height: 2.7rem;
    margin-right: 1.0rem;
    margin-top:1.5rem;}

    /* Vcc video section */
.vcc_main{
  box-shadow: 0rem 0.8rem 1.5rem #0000000d;
  border: 1px solid #00000040;
  border-radius: 1.4rem;
  background: #FFFFFF;
  height: 42.9rem;
}
.partner_heading{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.vcc_sub{
display: flex;
justify-content: space-around;
margin-top: 2.0rem;
}
.vcc_frame{
border-radius: 1.4rem;
height: 31.2rem;
width: 55.4rem;
border: 1px solid black;
}
.vcc_frame_content{
width: 51.2rem;
height: 27.6rem;
}
.vcc_content_para{
font-family:"Montserrat","sans-serif";
font-size: 2.4rem;
font-weight: bold;
color: #222222;
}
.viewmore_para{
  font-size: 1.2rem;
  font-weight: medium;
}


/* Footer section*/
.Container-footer{
  background-color: #000000;
  border: 1px solid red;
} 
.footer_logo1{
  text-align: center;
}
.footer_social_logo{
  display: flex;
  justify-content: center;
    list-style: none;
}
.social-logo_li{
  margin: 1rem;
  color: #FFFFFFB2;
}
.social-logo_list{
  margin: 1rem;
  color: #FFFFFF;
}
/* .swiper-button-prev {
  right: 10px;
  left: auto;
  font-size: 50px;
  line-height: 34px;
  background: #508aa3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.swiper-button-next{
  font-size: 50px;
  line-height: 34px;
  background: #007aff;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
} */
.footer_bottom{
  text-align: center;
  color: #FFFFFF;}
/* }
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.video {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
} */